body { margin:0;font-family:verdana, "trebuchet MS", helvetica, sans-serif;font-size:11px;color:#666666;font-size:14px;}
h2 {font-weight:normal;margin:6px 0 0 0;padding:0;text-transform:uppercase;font-size:18px;}
p {margin-top:0;}
#pagecontainer {width:987px;margin:0px auto;text-align:left;}
#masthead {width:987px;height:125px;text-align:center; }
#pageRule {border: 1px solid #d9d4ce;width:987px;padding:0 0 24px 0; }
#inline {padding:36px 20px;}
.listLabel {float:left;text-align:right;padding:0 6px 0 0;width:100px;clear:left;font-weight:bold;}
.inlineSidebar {float:right;width:320px;}
.inlineSidebar li {padding:2px 0;list-style-type:none;}
#copyright {padding: 11px 4px;font-size:10px;color:#beb7ae; }
#copyright a {color:#beb7ae; }
.clear {clear:both;}