<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Type" content="application/html">
		<meta http-equiv="expires" content="-1">
		<title>{{ page.title }}</title>
		<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/dtex.css" media="all" />
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js" type="text/javascript"></script>
		<script src="js/canDo.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="pagecontainer">
			<div id="masthead">
				<img height="104" width="104" src="images/dbuck.jpeg" style="margin:12px auto;" />
			</div>
			<div id="pageRule">
				<div id="inline">
					{{ content }}
					<div class="clear" />
				</div>
			</div>
			<div id="footer"></div>
			</div>
			<div id="copyright" style="text-align:center;">©&nbsp;<span id="theyear">2012</span> Donovan Buck. All rights reserved.</div>
		</div>
		<a href="http://github.com/dtex"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
		<script>SyntaxHighlighter.all();</script>
	</body>
</html>