<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Type" content="application/html">
		<meta http-equiv="expires" content="-1">
		<title>{{ page.title }}</title>
		<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/dtex.css" media="all" />
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js"></script>
		<script src="js/canDo.min.js" type="text/javascript"></script>
		<script>
			var drawJSLogo = function(ctx) {
				ctx.beginPath();ctx.clearRect(0,0,210,210);ctx.fillStyle = "rgb(247,223,30)";ctx.fillRect(0,0,210,210);
				ctx.fillStyle = "rgb(0,0,0)";ctx.moveTo(94.66,164.33);ctx.lineTo(94.66,96.66);ctx.lineTo(114,96.66);ctx.lineTo(114,164.33);ctx.bezierCurveTo(114,179.33,106.66,193.33,84.66,193.33);ctx.bezierCurveTo(62.66,193.33,55.33,176,55.33,176);ctx.lineTo(71.33,166);ctx.bezierCurveTo(71.33,166,74.66,176.33,84.33,176.33);ctx.bezierCurveTo(95.66, 176.33, 94.66, 164.33, 94.66, 164.33);
				ctx.moveTo(125, 173.33);ctx.lineTo(141, 163.67);ctx.bezierCurveTo(148.33, 176.33, 157, 176.33, 160, 176.33);ctx.bezierCurveTo(162.67, 176.33, 173, 176.33, 173.33, 167);ctx.bezierCurveTo(173.67, 157.67, 166, 156.67, 150, 148.67);ctx.bezierCurveTo(133.33, 141.33, 130.67, 131.67, 130.67, 120.33);ctx.bezierCurveTo(131, 109, 139.67, 95, 160, 95);ctx.bezierCurveTo(180, 95, 187.67, 111.33, 187.67, 111.33);ctx.lineTo(172.33, 121.33);ctx.bezierCurveTo(169, 114, 163.33, 112.33, 160, 112.33);ctx.bezierCurveTo(156.67, 112.67, 150, 114.33, 150, 121);ctx.bezierCurveTo(150.67, 127.67, 150.67, 127.67, 171.33, 137.33);ctx.bezierCurveTo(193, 146.67, 193.33, 158.33, 193.33, 167.33);ctx.bezierCurveTo(193.33, 175, 188.67, 193.33, 160.67, 193.33);ctx.bezierCurveTo(132.33, 193.33, 125, 173.33, 125, 173.33);ctx.fill();ctx.closePath();
			}
		</script>
	</head>
	<body>
		<div id="pagecontainer">
			<div id="masthead">
				<img height="104" width="104" src="images/dbuck.jpeg" style="margin:12px auto;" />
			</div>
			<div id="pageRule">
				<div id="inline">
					<div class="inlineSidebar">
						<h3><a href="index.html">Introduction</a></h3>
						<!--<h3><a href="tutorial.html">Tutorial</a></h3>-->
						<h3>Initialization</h3>
						<ul>
							<li><a href="documentation.html">CanDo</a>()</li>
						</ul>
						<h3>Methods</h3>
						<ul>
							<li><a href="canDo.canDo.html">canDo.canDo ()</a></li>
							<li><a href="canDo.canSet.html">canDo.canSet ()</a></li>
							<li><a href="canDo.getCurrentKeyframe.html">canDo.getCurrentKeyframe ()</a></li>
							<li><a href="canDo.identity.html">canDo.identity ()</a></li>
							<li><a href="canDo.paint.html">canDo.paint ()</a></li>
							<li><a href="canDo.play.html">canDo.play ()</a></li>
							<li><a href="canDo.update.html">canDo.update ()</a></li>
						</ul>
						<!--<h3>Properties</h3>
						<ul>
							<li>canDo.ctx</li>
							<li>canDo.t</li>
							<li>canDo.s</li>
							<li>canDo.images</li>
							<li>canDo.easing</li>
						</ul>-->
						<h3>Objects</h3>
						<ul>
							<li><a href="canDoConfiguration.html">{ canDoConfiguration }</a></li>
							<li><a href="cuepoints.html">{ cuePoints }</a></li>
							<li><a href="images.html">{ images }</a></li>
							<li><a href="events.html">{ events }</a></li>
							<li><a href="methodKeyframe.html">{ methodKeyframes }</a></li>
							<li><a href="propertyKeyframe.html">{ propertyKeyframes }</a></li>
						</ul>
						<h3>Reference</h2>
						<ul>
							<li><a href="contextMethods.html">2D Context Methods</a></li>
							<li><a href="contextProperties.html">2D Context Properties</a></li>
						</ul>
					</div>
					{{ content }}
					<div class="clear" />
				</div>
			</div>
			<div id="footer"></div>
			</div>
			<div id="copyright" style="text-align:center;">©&nbsp;<span id="theyear">2012</span> Donovan Buck. All rights reserved.</div>
		</div>
		<a href="http://github.com/dtex"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
		<script>SyntaxHighlighter.all();</script>
		<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-30390179-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
	</body>
</html>